body.open-modal {
	overflow: hidden;
}

.modal {
	position: fixed;
	display: none;
	z-index: 1000;
	background-color: #fff;
	width: 100vw;
	height: 100%;
	top: 0;
	overflow: auto;

	background: #fff;
}

.modal.open {
	display: block;
}

#formModal {
	display: none;
	background-color: rgba(196, 196, 196, 0.4);
}

#formModal > div {
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;

	display: flex;
}

#formModal.open {
	display: block;
}

#formModal header {
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	height: auto;
}

#formModal header img {
	cursor: pointer;
}

#formModal header h2 {
	font-size: 64px;
	font-weight: normal;
	margin: 0;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 30px;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
	font-size: 1.5em;
}

form .field-error {
	display: none;
	color: #e54858;
}

form .field-error.open {
	display: block;
}

form textarea {
	resize: none;
	width: 100%;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	font-family: "DM Sans", sans-serif;
}

.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}

#lightbox-modal {
	/* max-width: 1024px; */
	max-width: 1280px;
	margin: auto;
}

#lightbox-modal {
	display: none;
}

#lightbox-modal.open {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
}

#lightbox-modal > img {
	position: absolute;
	cursor: pointer;
}

#lightbox-modal > img:nth-child(1) {
	top: 50px;
	right: 20px;
}

#lightbox-modal > img:nth-child(2) {
	left: 0;
}

#lightbox-modal > img:nth-child(3) {
	right: 0;
}

#lightbox-modal article {
	display: none;
}

#lightbox-modal article p[aria-label="likes"] {
	display: none;
}

#lightbox-modal .media_section {
	display: flex;
	width: 90%;
	height: 90%;
}

#lightbox-modal .media_section article.open {
	display: flex;
}

#lightbox-modal .media_section article {
	width: 100%;
}

#lightbox-modal .media_section img {
	aspect-ratio: unset;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#lightbox-modal .media_section video {
	display: block;
}

#lightbox-modal .media_section .media-item:has(video) img {
	display: none;
}
