body.open-modal {
	overflow: hidden;
}

.modal {
	position: fixed;
	display: none;
	z-index: 1000;
	background-color: #fff;
	width: 100vw;
	height: 100%;
	top: 0;
	overflow: auto;

	background: #fff;
}

.modal.open {
	display: block;
}

#formModal {
	display: none;
	background-color: rgba(196, 196, 196, 0.4);
}

#formModal > div {
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;

	display: flex;
}

#formModal.open {
	display: block;
}

#formModal header {
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	height: auto;
}

#formModal header img {
	cursor: pointer;
}

#formModal header h2 {
	font-size: 64px;
	font-weight: normal;
	margin: 0;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 30px;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
	font-size: 1.5em;
}

form textarea {
	resize: none;
	width: 100%;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	font-family: "DM Sans", sans-serif;
}

form .error {
	display: none;
	color: #230101;
	font-size: 18px;
	margin: 0;
	text-align: right;
}

form .error.open {
	display: block;
}

form .field.field-error {
	background-color: #c10000ab;
	color: #fff;
}

form .info-message {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
}

form #compteur-message {
	font-size: 18px;
	margin: 0;

	background-color: #ffffff84;
	border-radius: 5px;
	padding: 5px;
}

form #compteur-message #counter.error-counter {
	color: #dd0f0f;
}

form #counter {
	color: #0c8f20;
}

.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}

#lightboxModal {
	overflow: hidden;
}

#lightboxModal > div {
	/* max-width: 1024px; */
	max-width: 1280px;
	margin: auto;
}

#lightboxModal > div {
	display: none;
}

#lightboxModal.open > div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
}

#lightboxModal > div {
	position: relative;
}

#lightboxModal .lightbox-controle {
	position: absolute;
	width: 100%;
	height: 100%;
}

#lightboxModal .lightbox-controle img {
	cursor: pointer;
	position: absolute;
}

#lightboxModal .lightbox-controle img:nth-child(1) {
	top: 5%;
	right: -2%;
	transform: scale(1.2);
}

#lightboxModal .lightbox-controle img:nth-child(2) {
	left: -3%;
	top: 50%;
	transform: translateY(-50%) scale(1.2);
}

#lightboxModal .lightbox-controle img:nth-child(3) {
	right: -3%;
	top: 50%;
	transform: translateY(-50%) scale(1.2);
}

#lightboxModal li {
	display: none;
}

#lightbox-body {
	display: flex;
	width: 90%;
	height: 90%;
}

#lightbox-body {
	padding-left: 0;
	margin: 0;
}

#lightbox-body li.open {
	display: block;
}

#lightbox-body li {
	width: 100%;
}

#lightbox-body figure {
	margin: 0;
	font-weight: 400;
	color: #901c1c;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 10%);
}

#lightbox-body figcaption {
	margin: 0;
	font-weight: 400;
	color: #901c1c;
	font-size: 1.5em;
	margin-top: 13px;
}

#lightbox-body img {
	aspect-ratio: unset;
	/* height: 100%;
	width: 100%; */
	flex: 1;
	max-width: 100%;
	max-height: 95%;
	object-fit: cover;
	border-radius: 5px;
}

#lightbox-body video {
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}
